@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');


*, ::before, ::after{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    max-width: 100%;
}

.row{
    margin: 0;
}

body{

    max-height: 100%;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: montserrat;

}

.bouton3{
    font-weight: 700;
    color: white;
    font-size: 25px;
}


/* décor japonais pattern*/
.waves{
    background-size: cover;
    background-repeat: no-repeat;
}

/*haut des tableaux*/
thead{
    font-size: 22px;
    font-weight: bold;

}


.police{

    font-size: 18px;
    font-weight: bold;
}

.add-bouton{
    display: flex;
    justify-content: center;

}

.animated-link-catalogue{

    display: inline-block;
    background: #000;
    border-radius: 13px;
    text-decoration: none;

}

.animated-link-catalogue span{

    display: inline-block;
    text-align: center;
    background: #CE122C;
    width: 200px;
    color: #f0f0f0;
    border: 1px solid #CE122C;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    border-radius: 13px;
    cursor: pointer;
    transition:
     transform 0.15s ease-out,
     color 0.15s ease-out,
     background-color 0.15s ease-out;
}

.animated-link-catalogue:hover span{
    transform: translate(-6px, -6px);
    color : #f0f0f0;
    background: #CE122C;

}


.animated-link2{
    display: inline-block;
    background: #000;
    border-radius: 13px;
    text-decoration: none;

}

.animated-link2 span{
    display: inline-block;
    text-align: center;
    background: #08bf57;
    width: 150px;
    color: azure;
    border: 1px solid #08bf57;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 13px;
    cursor: pointer;
    transition:
     transform 0.15s ease-out,
     color 0.15s ease-out,
     background-color 0.15s ease-out;
}

.animated-link2:hover span{
    transform: translate(-6px, -6px);
    color : #000;
    background: #f0f0f0;
}

td{
    font-size: 22px;
    font-weight: bold;
}

.bigtitle{

    font-size: 62px;
    color: #eb132f;
}

h1{
    font-family: 'Fascinate', cursive;
    /* font-family: 'Kanit', sans-serif; */
    font-weight: bold;
    text-decoration: underline;
}

  .animated-link{
    display: inline-block;
    background: #000;
    border-radius: 13px;
    text-decoration: none;

}

.bouton2{
    width: 200px;
}

.animated-link span{
    display: inline-block;
    text-align: center;
    background: #CE122C;
    width: 150px;
    color: azure;
    border: 1px solid #CE122C;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 13px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    transition:
     transform 0.15s ease-out,
     color 0.15s ease-out,
     background-color 0.15s ease-out;
}

.animated-link:hover span{
    transform: translate(-6px, -6px);
    color : #000;
    font-family: 'Kanit', sans-serif;
    background: #f0f0f0;
}

  nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #CE122C;
    height: 100px;
    width: 100%;
}

label.logo{
    color: white;
    font-family: 'Fascinate', cursive;
    font-size: 35px;
    padding-left:50px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    margin: 0 5px;
    width: 150px;
}

nav ul li a{
    color: white;
    /* font-family: 'Fascinate', cursive; */
    font-size: 25px;
    border-radius: 13px;
    text-transform: uppercase;
    text-decoration: none;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{

      font-size: 16px;
      font-family: 'Kanit', sans-serif;
    }

}

@media (max-width: 1740px){

    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #e71e1e;
      top: 110px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 100;
    }
    nav ul li{
      display: block;
      margin: 50px 0;

    }
    nav ul li a{
      font-size: 20px;

    }
    a:hover,a.active{
      background: none;
      color: black;

    }
    #check:checked ~ ul{
      left: 0;
    }
    .fa-bars:before {
        content: "\f0c9";
        padding-left: 10px;
    }

}


.btn-primary, .btn-danger{
    background-color: #CE122C;
    border: none;
}
.btn-primary:hover, .btn-danger:hover{

    background-color: #CE122C;
    border: none;
}

.card{
 font-weight: 700;
}

.card-header{
    background-color: #CE122C;
    color:whitesmoke;
    font-size: 22px;
    /* font-family:'Fascinate', cursive; */
    font-family: 'Kanit', sans-serif;
}
.card-header2{
    display: flex;
    justify-content: center;
}

.Login-container{
    margin-bottom: 10.7%;
}
.addProduit-container{
    margin-bottom: 5.8%;
}
.containerCategories{
    margin-bottom: 1.88%;
}
.table-categorie-content{
    margin-bottom: 8.2%;
}
.ajout-categorie-container{

    margin-bottom: 13.8%;
}
.tableau-panier{
    margin-bottom: 11%;
}
.valider-commande{
    margin-bottom: 11.3%;
}
.container-choix-quantité{

    margin-bottom: 13.1%;
}
.container-contact-form{
    margin-bottom: 1.25%;
}
.container-edit-quantity{
    margin-bottom: 11.7%;
}
.microwave{
    margin-bottom: 13.1%;
}
.container-produit-read{
    margin-bottom: 0.3%;
}
.nippon{
    min-height: 65vh;

    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content:center ;
    align-items: center;
}

.active>.page-link, .page-link.active{
    border-radius: 13px;
    background-color: black;
    color:#CE122C;
    border-color: #CE122C;

}

.page-item{
    text-decoration: none;
    width:50px;
}

.page-item:hover{

    color:white;
    background-color: #CE122C;
}

.page-link:hover{
    width:50px;
    background-color:#CE122C ;
    color:white;

}

.page-link{
    width:50px;
    background-color:white ;
    color:#CE122C;

}

.img-card{
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 400px;
    width: 320px;

}

.card-tome{

    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    background: #CE122C;
    color: #f0f0f0;
    border-radius: 13px;
}

.card-body{

    justify-content: center;
}

.card-catalogue-body{

    border-radius: 13px;
    background: white;
    color: #000;
    margin-bottom: 4%;
}

.card-catalogue-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;


}

.card-catalogue-price{

    font-weight: bold;
}


.japonais{

    background-size:auto;
    background-repeat: repeat;
    display:flex;
    justify-content: space-around;
}

.form-check-input:checked {
    background-color: #CE122C;
    border-color: #CE122C;
}

h6{
    font-size: 22px;

}

.footer{
    position: relative;
    bottom:0;
    width:100%;
    padding-top:50px;
    padding-bottom: 100px;
    background-color: #CE122C;
    /* font-family:'Fascinate', cursive; */
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;
    font-size: 20px;
    height: 14.7rem;

}

.footer a{
    text-decoration: none;
    color: whitesmoke;
}

.footer a:hover{
    text-decoration: underline;
    color: whitesmoke;

}

.cacahuete{

    margin-right: 50px;
    padding-bottom: 0;
    margin-bottom: 0;

}

.py-4 {
    padding-top: 7rem!important;
    /* padding-bottom: 1.5rem!important;*/
}

.welcomeadmin{

    margin-top: 5%;
    width: 100%;

}
/* AU SECOURS LES 500 LIGNES */
.valider-commande{

    display: flex;
    justify-content: space-between;
}

.btn-success{
    display: none;
}


.containerBAR{
    width: 100%;
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
}

.searchDiv{
    border:none;
    margin: 0;
    padding: 0;
    background: #CE122C;
}

.searchBar{

    margin: 0;
    padding: 0;

}